---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101198585);</script>
    <script async src="//static.getclicky.com/js"></script>
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:400">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300;text-align:justify">Jonti is a 2nd year Master's candidate at the Department of <a href="https://ece.duke.edu/"><b>Electrical and Computer Engineering</b></a> at <a href="https://duke.edu/"><b>Duke University</b></a> (Durham, NC) specializing in Hardware Engineering with a focus on VLSI Testing, Design and Verification. He is currently pursuing active research in the field of VLSI Testing, Functional Fault Modeling as well as working on developing analytical models for SET (transient) propagation in combinational logic.</p>
                            <p style="font-size:1rem;font-weight:300;text-align:justify">Having been exposed to both hardware and software design techniques, he also has rich experience working in the semiconductor industry. He spent 4 months (Summer 2019) working with the Logic Technology Developement Group at Intel Corporation, developing a chip level SET characterization framework. He also spent over 7 months ( Spring 2018), working as a SoC Integration Intern at the Automotive Microprocessor Group at NXP Semiconductors.  You can reach him through email (jonti 'dot' talukdar 'at' duke 'dot' edu) or any of the following networks.</p>
			            </a>
                    </h3>
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/experience">
                             <b>Experience</b>
                         </a> 
                         <a class="btn zoombtn" href="{{ site.url }}/research">
                             <b>UG Research</b>
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/publications"> 
                             <b>Publications</b>
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/assets/cv_jonti_fall19_duke.pdf" target="_blank"> 
                             <b>CV</b>
                         </a>
                    <!--     <a class="btn zoombtn" href="{{ site.url }}/posts">
                             <b>Posts</b>
                         </a>    -->
                 </h3>
                 {% include social-links.html %}
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
