---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                {{ content }}
            </div>
        </div>
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="https://about.me/jonti.talukdar">
                        <img src="https://jontitalukdar.github.io/assets/img/jonti.jpg" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="https://about.me/jonti.talukdar">
                        	<p style="font-size:1.2rem;font-weight:300">About Jonti Talukdar</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        	<p style="font-size:1rem;font-weight:300">Jonti is a fun loving writer who seeks pleasure in documenting his thoughts on the intricacies of life. He believes in telling compelling stories about his thoughts on 'mind over matter' and is currently on a journey of discovering his true self through writing. He is also an adventure lover who derives joy by exploring new places and meeting new people. Oh the mundane side of life, he is currently completing his bachelors of engineering in the field of computers and electronics. He has also worked as a teaching mentor for two years, teaching senior secondary science, english and mathematics at shelter homes. If you like his blog, show your support by reaching out to him!</p>  
			</div>
		</div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
